{{#partial "content"}}
    <h1>To-do List</h1>

    <form name="todo" method="post" action="/todos">
        <input type="text" name="contents"/>
        <input type="submit" value="Add"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>contents</th>
            <th>createDate</th>
            <th>modifyDate</th>
            <th>edit</th>
            <th>complete</th>
        </tr>
        </thead>
        <tbody>
        {{#todos}}
        <tr>
            <td id="id">{{id}}</td>
            <td id="contents">{{contents}}</td>
            <td>{{formattedCreatedDate}}</td>
            <td id="modifiedDate">{{formattedModifiedDate}}</td>
            <td>
                <button class="btn" type="submit" id="edit"><i class="fa fa-edit"></i></button>
            </td>
            <td>
                <button class="btn"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        {{/todos}}
        </tbody>
    </table>

    <div>
        <div class="pagination p1">
            <ul>
                {{#pageUtil}}
                {{#prePage}}
                <a href="/?page={{this}}"><li><</li></a>
                {{/prePage}}

                {{#pages}}
                <a href="/?page={{this}}"><li><span id = "pages">{{this}}</span></li></a>
                {{/pages}}

                {{#nextPage}}
                <a href="/?page={{this}}"><li>></li></a>
                {{/nextPage}}
                {{/pageUtil}}
            </ul>
        </div>
    </div>
{{/partial}}

{{> base}}

